<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kolektesan.julio.kolektesan">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Home"
            android:theme="@style/AppTheme" />
        <activity android:name=".activity.Details" />
        <activity android:name=".activity.Infos" />
        <activity android:name=".activity.Profil" />
        <activity android:name=".explication.WelcomeActivity" />
        <activity
            android:name=".activity.ScrollingActivityDetailArticle"
            android:label="@string/title_activity_scrolling_detail_article"
            android:theme="@style/AppTheme" />
        <activity android:name=".activity.MusicActivity" />
        <activity
            android:name=".activity.PlayerMusic"
            android:label="@string/title_activity_player_music"
            android:theme="@style/AppTheme" />
        <activity android:name=".activity.PlayerVideos" />
        <activity
            android:name=".activity.ProfilDrawerActivity"
            android:label="@string/title_activity_profil_drawer"
            android:theme="@style/AppTheme" />
        <activity android:name=".activity.AboutKolekte" />

        <activity android:name=".activity.Login" />
        <activity android:name=".activity.Demande"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
        <activity android:name=".activity.Planifier"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>


    </application>

</manifest>